
body{
    /* background-color: green; */
}
 .description img{
    width: 100%;
}

.featured-article-wrapper{
    margin-bottom: 60px;
}
.featured-article-wrapper h4{
    margin-bottom: 25px;
}
.card-img-top{
    height: 200px !important;
}

/* .form-check{
    padding-left: 0px;
} */

.mediaCenterDaysWrapper{
    margin: 20px 0px;
}
.related-articles .card{
    width: 400px;
}

.heroSection{
    margin: 25px 0;
    /* background-color: green; */
    /* height: 300px; */
}
.heroSection img{
    width: 100%;
    
}
.partner-checkbox {
  margin-bottom: 15px;
}
/* .radio-custom {
  position: absolute;
} */

.radio-custom-label {
  margin-left: 10px;
}


.navbar a{
    color: #000;
    text-decoration: none;
}


.media-center-main-wrapper{
    padding: 25px;
    margin-bottom: 25px;
}

.contact-us-container span{
    color: red;
}

.contact-us-container .checkbox-error, .newsltrcheck .checkbox-error{
    color: red;
}
.footerNav{
    padding-bottom: 50px;
}
.footerNav ul{
    display: flex;
    flex-direction: row;
}

.footerNav ul li a{
    color: #000;
    text-decoration: none;
}

/**************************************partners*****************************/
img.featured-partner-logo{
  width: auto;
  max-height: 70px;
  }
  .featured-partner .text {
    padding: 0 0 30px 0;
  }
  .featured-partner button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
  }
  a.see-all-partner-btn {
    display: table;
    font-weight: 400 !important;
    color: #45c5ba;
    text-decoration: none;
    margin-top: 70px;
    background-position: right top 7px;
  }
  .feature-partner-video {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  
  .innnerslider .item:before{
    z-index: 1;
  }
  .feature-partner-video img {
    width: 150px;
  }
  
  .feature-image-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: -moz-linear-gradient(280deg, rgba(2,0,36,0) 0%, rgba(39,172,211,0) 0%, rgba(16,82,134,1) 100%);
    background: -webkit-linear-gradient(280deg, rgba(2,0,36,0) 0%, rgba(39,172,211,0) 0%, rgba(16,82,134,1) 100%);
    background: linear-gradient(280deg, rgba(2,0,36,0) 0%, rgba(39,172,211,0) 0%, rgba(6,39,63,1) 100%);
  }
  
  .featuredwrapper {
    background: #0b223c;
    padding: 30px;
    margin-bottom: 10px;
  }
  .featuredwrapper h2 {
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    color: #45c5ba;
    margin: 0 0 0 0px;
  }
  .featuredwrapper .newsperbx {
    border: none;
  }
  .aljshare {
    display: none;
    min-width: 150px;
    position: absolute;
    right: 0;
    bottom: 50px;
    background: #fff;
  }
  .aljshare.active {
    display: block;
  }
  .aljshare .sharebox {
    border: 1px solid #8c8c8c;
    position: relative;
    padding: 13px 15px;
    z-index: 1;
    background: #fff;
  }
  .aljshare .sharebox:before,
  .aljshare .sharebox:after {
    content: "\0020";
    display: block;
    position: absolute;
    bottom: -11px;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    border: solid 12px transparent;
    border-bottom: 0;
    border-top-color: #fff;
    right: 5px;
    margin: 0 auto;
  }
  .aljshare .sharebox:before {
    bottom: -13px;
    z-index: 1;
    border-top-color: #8c8c8c;
  }
  .aljshare .shareinner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .aljshare .icon img {
    max-width: inherit;
    height: 17px;
    cursor: pointer;
  }
  /***************************partner end******************************/


  .about-solutions-container{
    background: #0e233a;
    text-align: center;
    margin-top: 0px;
  }
  .about-solutions-container h4{
    color: #fff;
    margin-bottom:0px;
    text-align: left;
  }
  
  .about-solutions-container .slick-prev {
    left: 0px;
    top: 35%;
    position: absolute;
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    z-index: 1;
    background: url(https://media.aljhealth.com/wp-content/uploads/2022/06/09071208/prev-arrow-white.png) no-repeat left center;
    border: none;
  }
  
  .about-solutions-container .slick-next {
    right:0;
    top: 35%;
    position: absolute;
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    z-index: 1;
    background: url(https://media.aljhealth.com/wp-content/uploads/2022/06/09071207/next-arrow-white.png) no-repeat right center;
    border: none;
  }
  
  .about-solutions-container h6{
    color: #5fb3e2;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
  
  .about-solutions-container .about-solution-inner{
  text-align: center;
  height:180px;
  padding: 25px 15px;
  margin: 0 20px;
  }
  
  .about-solutions-container .about-solution-inner:hover{
    background-color: #213245;
  }
  
  .about-solution-title{
  display: none;
  }
  .about-solution-inner:hover .about-solution-title{
    display: block !important;
  }
  
  
  .about-solutions-container .slick-slide img { 
  width: 100px !important;
  display: inline;
  margin-bottom: 10px;
  } 

  
.about-solutions-container .slick-next {
  right:0;
  top: 35%;
  position: absolute;
  -webkit-transform: translateY(-35%);
  transform: translateY(-35%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  z-index: 1;
  background: url(https://media.aljhealth.com/wp-content/uploads/2022/06/09071207/next-arrow-white.png) no-repeat right center;
  border: none;
}

.about-solutions-container h6{
  color: #5fb3e2;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.about-solutions-container .about-solution-inner{
text-align: center;
height:180px;
padding: 25px 15px;
margin: 0 20px;
}

.about-solutions-container .about-solution-inner:hover{
  background-color: #213245;
}

.about-solution-title{
display: none;
}
.about-solution-inner:hover .about-solution-title{
  display: block !important;
}


.about-solutions-container .slick-slide img { 
width: 60px;
display: inline;
margin-bottom: 10px;
} 

.latest-news-controller li button {
  border: 1px solid #fff;
  background: transparent;
}
.latest-news-controller li.slick-active button {
  background: #fff;
  border: 1px solid #fff;
}
.latest-news-controller img {
  max-width: 12px;
}

.latest-news-container {
  background: transparent;
  margin: 0px;
}

.latest-news-inner {
  width: auto;
  border: none;
  margin: 0 10px;
  padding: 0px;
  background: #e1e1e1;
}

.latest-news-insights .slick-list {
  margin: 0 -10px;
}

.thankyoumessage strong {
  font-size: 20px;
  font-weight: 500;
}

.thankyoumessage-newsletter{
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #009e55;
  padding: 7px 20px;
  display: block;
  background-color: #009e55;
}
.thankyoumessage{
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  border: 1px solid #009e55;
  padding: 7px 20px;
  display: block; 
  background-color: #009e55;
}

.message-error{
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  border: 1px solid #be0000;
  padding: 7px 20px;
  display: block; 
  background-color: #be0000;
}
.latest-news-title {
  padding: 20px;
}
.latest-news-title h4 {
  font-size: 22px;
  font-weight: 500;
  color: #000;
  height: 79px;
  overflow: hidden;
}

.latest-news-title p {
  font-size: 20px;
  font-weight: 300;
  color: #000;
  line-height: 22px;
  min-height: 140px;
  /* overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical */
}
.latest-news-date {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
.latest-news-link a {
  color: #56bbff;
  background: url(https://media.aljhealth.com/wp-content/uploads/2022/06/15133709/insight-new-btn-arrow.png)
    right 3px / 7px no-repeat;
  padding-right: 18px;
  font-weight: 300;
}
.latest-news-link {
  padding: 15px 0 0 0;
}



/** ------------       --------------    slick CSS   Start   ------------------      */

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/** ------------       --------------    slick CSS   end   ------------------      */


.partner-section .title{
  margin-top: 25px;
  margin-bottom: 0;
}
.partner-section .title h4{
  margin-bottom: 0;
}

.partner-section .text{
  padding: 25px;
}

.partner-controller{
      display: flex;
  width: 50px;
  justify-content: space-between;
  margin-bottom: 25px;
}
.partner-controller img{
  max-width: 12px;
}

.partner-section .text img{
  margin-bottom: 25px;
}

.partner-section .slick-slide:focus{
outline: none !important;
}
.map-section{
  position: relative;
} 
.map-section iframe {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
}

#map{
      overflow: hidden;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
}
.map-section .fallow-us{
  margin-top: 100px;
}

.map-section ul{
  padding: 0;
}
.map-section ul li{
  list-style: none;
  margin-right: 10px;
}
.map-section p {
  margin-bottom: 8px;
}

.map-section .email{
  margin-top: 25px;
}
.map-section .text a{
  color: inherit;
}


.map-section .text span{
  margin-right: 10px;
}

.map-section .text a {
  color: inherit;
  margin-right: 12px;
}

.map-section img {
  height: 17px;
  width: auto;
}

.footer-section .text{
  padding: 25px 0;   
  color: #000;
}



/****************************** solution insights***********************/

.latest-news-insights .news_btn {
  border: none;
  background: none;
  color: #fff;
  font-size: 30px;
  margin: 0;
  padding: 0 0 0 15px;
  cursor: pointer;
}

.latest-news-insights .insights_btn {
  border: none;
  border-left: 1px solid #fff;
  background: none;
  color: #fff;
  font-size: 30px;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 25px;
  cursor: pointer;
}

.tabs-inactive {
  color: #31425b !important;
}

.partner-listing-container {
  background: #0e1621;
  padding: 70px 0;
}
.partner-listing-container h4 {
  color: #fff;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 35px;
}

.partner-listing-box {
  border: 1px solid #45c5ba;
  padding: 5px;
}

.partner-listing-box:hover {
  border: 1px solid #d71b4b;
  padding: 5px;
}

.partner-listing-container .radio-custom {
  opacity: 0;
  position: absolute;
}

.partner-listing-container .radio-custom,
.radio-custom-label {
  display: flex;
  vertical-align: middle;
  margin: 0px;
  cursor: pointer;
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  line-height: 25px;
}

.partner-listing-container .radio-custom-label {
  position: relative;
}

.partner-listing-container .radio-custom + .radio-custom-label:before {
  content: url(https://media.aljhealth.com/wp-content/uploads/2022/06/20092507/uncheck-mark-panter.png);
  background: transparent;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 27px;
  padding: 0px;
  margin-right: 20px;
  text-align: center;
}

.partner-listing-container .radio-custom + .radio-custom-label:before {
  border-radius: 0;
}

.partner-listing-container .radio-custom:checked + .radio-custom-label:before {
  content: url(https://media.aljhealth.com/wp-content/uploads/2022/06/20095250/check-mark-panter2.png);
  color: #bbb;
}

.partner-listing-container .radio-custom:focus + .radio-custom-label {
  outline: none; /* focus style */
}

.partner-checkbox {
  margin-bottom: 20px;
}

.partner-list-newsinsights .latest-news-insights {
  background: #fff;
}

.partner-list-newsinsights .latest-new-all-link a {
  top: 0;
}

.partner-list-newsinsights .news_btn {
  color: #0e1621;
}

.partner-list-newsinsights .tabs-inactive {
  color: #c8d2df !important;
}

.partner-list-newsinsights .insights_btn {
  color: #0e1621;
  border-left: 1px solid #0e1621;
}

.partner-list-newsinsights .latest-news-insights-pagenation-container {
  /* background: #a4a7ab; */
  background: #0e1621;
}

.about-section {
  padding: 70px 0 0 0;
}

.about-section .left-img {
  padding-right: 0;
}

.about-section .right-img {
  padding-left: 0;
}

.home-about-bg {
  background-size: cover !important;
  background-position: center center !important;
}
.about-section-btn a,
.our-presence-section a,
.investment a,
.partner-logo-container a,
.featured-partner a,
.wo-section a {
  font-size: 19px;
  color: #45c5ba;
  font-weight: 400;
  background: url(https://media.aljhealth.com/wp-content/uploads/2022/07/14090040/about-btn-arrow-red.png)
    no-repeat right 3px;
  background-size: 7px;
  padding-right: 18px;
  margin-bottom: 30px;
}

.wo-section ul,
.wo-section ol {
  margin: 0 0 0 19px;
  padding: 0;
  font-weight: 300;
}
.wo-section li{
  margin:0;
  padding: 0;
  font-weight: 300;
  list-style: none;
}

.wo-section li::before {
  content: "\2022";
  color: #d71b4b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.wo-section ul,
.wo-section ol {
  margin-bottom: 10px;
}

.solution-video-containter .modal-body {
  padding: 0 !important;
}

.solution-video-containter iframe {
  float: left !important;
}

.solution-video-btn {
  position: relative;
}
.solution-video-btn .close {
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 1;
  background: #fff;
  opacity: 1;
  line-height: 9px;
  padding: 9px;
}

.modal-dialog.solotion-video-dialog {
  max-width: 1110px !important;
}

.our-presence-section a,
.investment a,
.featured-partner a,
.wo-section a {
  font-weight: 400 !important;
}

.our-presence-section p {
  margin-bottom: 0;
}

.our-presence-section p a,
.investment p a,
.featured-partner p a,
.wo-section p a,
.partner-logo-container p a {
  font-weight: 300 !important;
  padding-right: 0px !important;
  margin-bottom: 0px !important;
  background: none !important;
}

.about-section .text-first {
  padding: 0 50px 0 0;
}

.about-section .text-second {
  padding: 50px 0 0 50px;
}

section .text {
  padding: 50px 0;
}
section .p {
  font-weight: 200;
  font-size: 19px;
}
.impact-section .text {
  padding: 50px 0;
}
.impact-section .text .icon {
  max-width: 55px;
  height: auto;
  margin-right: 10px;
}
.impact-section .text h5 {
  color: #45c5ba;
}
.dotlist ul,
.contentbx ul {
  list-style: none;
  padding-left: 0;
}
.dotlist ul li,
.newscontent ul li {
  position: relative;
  margin: 0 0 15px 15px;
  padding: 0 !important;
}
.dotlist ul li::before,
.newscontent ul li::before {
  content: "\2022";
  font-weight: 700;
  display: inline-block;
  width: 6px;
  height: 6px;
  line-height: 6px;
  position: absolute;
  left: -15px;
  top: 10px;
}
.dotlist.green ul li::before {
  color: #45c5ba;
}
.dotlist.blue ul li::before {
  color: #1b62b0;
}
.video-section video {
  width: 100%;
  height: auto;
}
.video-section iframe {
  width: 100%;
  height: 800px;
}
#custom-seekbar {
  cursor: pointer;
  height: 7px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: #212f38;
  margin-top: -7px;
}
#custom-seekbar span {
  background-color: #6ac9ff;
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  width: 0px;
}
.video-section video {
  outline: none;
}
.whatwedo-section .text {
  padding-top: 25px;
  padding-bottom: 0;
}
.whatwedo-section .text h5 {
  margin-top: 25px;
  margin-bottom: 35px;
  color: #1b62b0;
  font-size: 22px;
}
.ceo-section .bg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#818588+0,e7e7e7+92,e7e7e7+100 */
  background: #818588; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #818588 0%,
    #e7e7e7 92%,
    #e7e7e7 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #818588 0%,
    #e7e7e7 92%,
    #e7e7e7 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #818588 0%,
    #e7e7e7 92%,
    #e7e7e7 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#818588', endColorstr='#e7e7e7', GradientType=1 ); /* IE6-9 */
}
.ceo-section .text {
  background: #0d223c;
  color: #fff;
  padding: 50px;
}
.ceo-section blockquote {
  margin: 0 0 1rem;
  font-size: 22px;
}
.ceo-section p {
  font-weight: 400;
  color: #7aceff;
}
.ceo-section blockquote:before {
  content: "";
  background-image: url(../images/q-top.png);
  width: 40px;
  height: 32px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -30px;
  margin-left: -25px;
  z-index: -1;
}
.ceo-section blockquote:after {
  content: "";
  background-image: url(../images/q-bottom.png);
  width: 40px;
  height: 32px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 30px;
  z-index: -1;
}
.ceo-text {
  position: relative;
  top: 25px;
}
.ceo-text p {
  margin-bottom: 5px;
}
.oursolution-section .text {
  padding: 50px 0;
}
.oursolution-section .text .title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
}
.oursolution-section .text .icon {
  max-width: 70px;
  height: auto;
  margin-right: 10px;
}

.oursolution-section .text h5 {
  margin-bottom: 0;
}
.investment-section {
  background-color: #f2f2f2;
}

.solution-details-section .text {
  padding: 50px 0 0 0;
}
.africa-section {
  color: #fff;
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
}
.africa-section h4 {
  color: #fff;
}
.partner-logo-container {
  background: #00021b;
  margin-top: 40px;
}

.partner-logo-container .gatsby-image-wrapper img {
height: auto;
}

.partner-logo-container p {
  color: #fff;
}
.other-partner-logo-container {
  background: #fff;
  margin-top: 40px;
}
img.other-partner-logo {
  padding: 0 5px 0 10px;
  display: block;
  margin: 0 auto;
}
.partner-section .title {
  margin-top: 25px;
  margin-bottom: 0;
}
.other-partner-section {
  padding: 50px 0 20px 0;
}
.other-partner-innerbg{
  background-color: #0e1621;
  border: 1px solid #0e1621 !important;
} 
.other-partner-inner {
  width: auto;
  border: 1px solid #56bbff;
  margin: 0 15px;
  padding: 5px;
  border-radius: 0 0 30px 0;
}

.other-partner-inner:hover {
  border: 1px solid #d71b4b !important;
}
.other-partner-section .text {
  padding: 0;
}
.other-partner-section h4 {
  margin-bottom: 0;
}
.partner-section .title h4 {
  margin-bottom: 0;
}
.partner-section .text {
  padding: 25px;
  padding-left: 0;
}
.partner-controller {
  display: flex;
  /* width: 50px; */
  justify-content: space-between;
  margin-bottom: 0px;
}
.partner-controller ul li {
  margin: 0 3px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.partner-controller ul.slick-dots {
  margin: 8px 10px 0 10px;
  padding: 0;
  line-height: 0;
}
.partner-controller li button {
  font-size: 0;
  width: 11px;
  height: 14px;
  border-radius: 100px;
  border: 1px solid #fff;
  background: transparent;
}

.partner-controller li button {
  border: 1px solid #fff;
  background: transparent;
}
.partner-controller li.slick-active button {
  background: #fff;
  border: 1px solid #fff;
}
.partner-controller img {
  max-width: 12px;
}
.partner-section .text img {
  margin-bottom: 25px;
}

.other-partner-controller {
  display: flex;
  /* width: 50px; */
  justify-content: space-between;
  margin-bottom: 0px;
}

.page-404 {
  background-image: url(https://media.aljhealth.com/wp-content/uploads/2021/01/28144149/background-images-header.jpg);
  background-size: cover;
}

.page-404-container ul,
.page-404-container li {
  padding: 0;
  margin: 0 0 0 20px;
  list-style-type: disc;
}
.other-partner-controller ul li {
  margin: 0 3px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.other-partner-controller ul.slick-dots {
  margin: 8px 10px 0 10px;
  padding: 0;
  line-height: 0;
}
.other-partner-controller li button {
  font-size: 0;
  width: 11px;
  height: 14px;
  border-radius: 100px;
  /* border: 1px solid #fff; */
  background: transparent;
}

.other-partner-controller li button {
  border: 1px solid #56bbff;
  background: transparent;
}
.other-partner-controller li.slick-active button {
  background: #40e0d0;
  border: 1px solid #40e0d0;
}
.other-partner-controller img {
  max-width: 12px;
}
.partner-section .slick-slide:focus {
  outline: none !important;
}

.latest-news-controller {
  display: flex;
  /* width: 50px; */
  justify-content: space-between;
  margin-bottom: 0px;
  position: relative;
}
.latest-new-all-link a {
  color: #45c5ba;
  text-decoration:none;
  position: absolute;
  right: 0;
  background: url(https://media.aljhealth.com/wp-content/uploads/2022/07/14090040/about-btn-arrow-red.png) no-repeat right 6px;
  padding-right: 20px;
  background-size: 8px;
  top: -3px;
  }
.latest-news-controller ul li {
  margin: 0 3px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.latest-news-controller ul.slick-dots {
  margin: 8px 10px 0 10px;
  padding: 0;
  line-height: 0;
}
.latest-news-controller li button {
  font-size: 0;
  width: 11px;
  height: 14px;
  border-radius: 100px;
  border: 1px solid #fff;
  background: transparent;
}




/************map******/
.mapplic-tooltip:after,
.mapplic-tooltip-close{
	display: none;
}
.map-wrapper{
	background: rgb(12,24,45);
background: linear-gradient(0deg, rgba(12,24,45,1) 0%, rgba(27,43,69,1) 100%);
width: 100%;
margin: 0 auto;
position: relative;
/* padding-top: 50px;
padding-bottom: 50px; */

}

.mapplic-tooltip-body {
    padding: 0 10px;
}
.mapplic-image, .mapplic-tooltip-wrap{
    /* max-width: 320px !important; */
    background: none;
    box-shadow: none;
    color: #4ec7e5;
    /* border-left: 1px solid #4ec7e5; */
    /* border-left: 1px solid #212529; */
    /* margin-top: -65px;
    margin-left: 14px; */
	/* margin-top: -55px; */
  /* margin-top: -67px; */
  margin-top: -40px;
    margin-left: 6px;
    height: 50px;
    -webkit-transform: inherit;
    transform: inherit;
    pointer-events: none;
    transition: all 1s ease;
}

.mapplic-tooltip-title {
    color: #212529;
background-color: #fff;
    font-size: 20px !important;
	font-weight: 500;
  padding: 5px;
  /* position: absolute; */
  /* width: 200px; */
}



/* NEW MAP */
.mapMainWrapper{
  background: rgb(14,46,86);
    background: linear-gradient(90deg, rgba(14,46,86,1) 0%, rgba(1,110,189,1) 100%);
}
  .mapplic-legend{
    background: none !important;
    background-color: none;
    color: #fff;				
  }
  .mapplic-legend-label{
    margin: 16px 0;
      padding-left: 40px;
  }
  .mapplic-legend-key{
    height: 20px;
    width: 25px;
    border: 1px solid #fff;
    border-radius: 0;
    margin-top: -3px;
  }
  
  .map-container{
    position: relative;
  }
  .map-container ul{
    /* list-style: none;
    position: absolute;
    bottom: 25px;
    left: 25px;
    margin: 0;
    padding: 0; */
    bottom: 25px;
    left: 0;
    list-style: none;
    margin: auto;
    padding: 0 20px;
    position: absolute;
    width: 1140px;
    right: 0;
  }

  .map-container ul li{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .map-container ul li p{
    margin: 0;
    margin-left: 10px;
    color: #fff;
    
  }
  .map-container ul li img{
    width: 25px;
    height: auto;
  }
/* NEW MAP */